<!DOCTYPE html>
<!-- inheriting from base html -->
{% extends 'myMoneyManager/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
    About
    {% endblock %} 

    {% block body_block %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, tempore! 
    Minus veniam rem enim quasi at aperiam necessitatibus deleniti porro id tempore autem ipsam tempora, 
    voluptatum doloribus totam doloremque inventore.</p>
    {% endblock %} 
</html>